<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Síntoma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="./assets/img/symptoms.webp" alt="">
  <div class="ion-padding">
    <ion-item lines="none">
      <ion-input label="Sintoma:" labelPlacement="floating" type="text" [(ngModel)]="descripcion" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Fecha:" labelPlacement="floating" type="date" [(ngModel)]="fecha" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="enviarSintoma()"><ion-icon name="add" slot="start"></ion-icon>Agregar</ion-button>
  </div>
</ion-content>
