<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button expand="block" routerLink="nueva_rutina">Nueva Rutina</ion-button>
  </div>
  <ion-text><h1>Mis Rutinas</h1></ion-text>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rutina 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" >Ver Rutina</ion-button>
      <ion-button id="delete" expand="block">Eliminar Rutina</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
