<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-nopadding">
    <ion-card *ngFor="let x of blogs">
      <ion-card-header>
        <img src="{{x.image}}" alt="">
        <ion-card-title>{{x.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{x.author}}</p>
        <p>{{x.created_at | date: "dd/MM/yyyy"}}</p>
      </ion-card-content>
      <div id="button" class="ion-padding">
        <ion-button color="primary" size="small" routerLink="/tabs/blog/verblog/{{x.id}}">Ver</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
