<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-nopadding">
    <ion-card *ngFor="let x of blog">
      <ion-card-header>
        <img src="{{x.image}}" alt="">
        <ion-card-title>{{x.title}}</ion-card-title>
      </ion-card-header>
      <br>
      <ion-card-content>
        <p>{{x.author}}</p>
        <p>{{x.created_at |  date: "dd/MM/yyyy"}}</p>
        <br>
        <p>{{x.content1}}</p>
        <p>{{x.content2}}</p>
        <p>{{x.content3}}</p>
        <p>{{x.content4}}</p>
        <p>{{x.content5}}</p>
      </ion-card-content>
    </ion-card>
    <br>
    <div class="ion-padding">
      <h2>Comentarios:</h2>
    </div>
    <ion-card *ngFor="let x of blog">
      <ion-card-header>
        <ion-card-title>{{x.usuario}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{x.comentario}}</p>
        <p>{{x.fecha | date: "dd/MM/yyyy"}}</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
