<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div id="botonCrear">
      <ion-button id="crear" routerLink="/rutina/nueva_rutina"><ion-icon name="create" slot="end"></ion-icon>Nueva Rutina</ion-button>
      <br>
      <img src="../../assets/img/rutina.jpg" alt="">
    </div>
  
  
  <ion-card *ngFor="let x of arregloRutinas">
    <ion-card-header>
      <ion-card-title>{{x.nombre_rutina}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="botones">
        <ion-button id="ver" (click)="buscarRutina(x)" ><ion-icon name="enter-outline"></ion-icon></ion-button>
      <ion-button id="eliminar" (click)="deleteRutina(x)" ><ion-icon name="trash"></ion-icon></ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
