<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../src/assets/img/rutina.jpg" alt="">
  <div class="ion-padding"><ion-button routerLink="/tabs/home/rutina/nueva_rutina"> <ion-icon name="add" slot="start"></ion-icon> Nueva rutina</ion-button></div>
  
  <div class="ion-padding">
    <ion-card *ngFor="let x of arregloRutinas">
      <ion-card-header>
        <ion-card-title>{{x.nombre_rutina}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{x.act1}}</p>
        <p>{{x.act2}}</p>
        <p>{{x.act3}}</p>
        <p>{{x.act4}}</p>
        <p>{{x.act5}}</p>
      </ion-card-content>
      <div class="ion-padding">
        <ion-button expand="block" color="danger" routerLink="/tabs/home/rutina/eliminar/{{x.id}}">Eliminar rutina</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
