<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <div class="ion-padding">
    <div id="title">
      <ion-img id="logo" src="../../assets/img/logo.png"></ion-img> 
      <h1>Perfil de Usuario</h1>
    </div>
  </div>
  <ion-list *ngFor="let x of usuario">
    <ion-item>
      <ion-label>Nombre: {{x.nombre}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{x.apellido}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{x.correo}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
