<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-nopadding">
    <ion-card>
      <ion-card-header>
        <img class="imagen" src="../../../assets/img/rutina.jpg" alt="">
        <ion-card-title>Rutinas</ion-card-title>
        <ion-card-subtitle>Revisa tu Rutina Diaria</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/tabs/home/rutina">Ir</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img class="imagen" src="../../../assets/img/todo.webp" alt="">
        <ion-card-title>To Do List</ion-card-title>
        <ion-card-subtitle>Agrega y Elimina tus eventos diarios</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/tabs/home/todo">Ir</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img class="imagen" src="../../../assets/img/meds.jpg" alt="">
        <ion-card-title>Medicamentos</ion-card-title>
        <ion-card-subtitle>Recuerda consumir tus medicamentos diariamente</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/tabs/home/meds">Ir</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <img class="imagen" src="../../../assets/img/symptoms.webp" alt="">
        <ion-card-title>Registro de Síntomas</ion-card-title>
        <ion-card-subtitle>Registra tus síntomas previo a una cita médica</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/tabs/home/sintomas">Ir</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
