<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TDApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TDApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <div class="ion-padding">
    <div id="title">
      <ion-img id="logo" src="../../assets/img/logo.png"></ion-img> 
      <h1>Iniciar Sesión</h1>
    </div>
    <ion-item>
      <ion-input label="Email" type="email" placeholder="usuario@ejemplo.com" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" type="password" [(ngModel)]="password" required>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
    <ion-button expand="block" routerLink="/registro">Registrarse</ion-button>
  </div>
</ion-content>
