
#logo {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40%;
}

#head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

ion-button {
  --background: #3880ff;
  --border-radius: 10px;
  --color: white;
}

#contrasena{
  font-size: 7pt;
}

ion-item{
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

ion-toolbar {
  --background: #black;
  --color: white;
}

ion-content {
  --background: #black;
  --color: white;
}
