<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TDApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div id="head" class="ion-padding">
      <ion-img id="logo" src="assets/img/logo2.png"></ion-img>
      <h2>Inicio de Sesión</h2>
    </div>

    <ion-item lines="none">
      <ion-input label="Email:" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Contraseña:" type="password" labelPlacement="floating" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button id="contrasena" color="secondary" size="small" routerLink="/recuperar" expand="block" fill="clear">Recuperar Contraseña</ion-button>

    <div class="ion-padding">
      <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
      <ion-button color="secondary" size="small" routerLink="/registro" expand="block" fill="clear">Crear Cuenta</ion-button>
    </div>
  </div>
</ion-content>
