<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="usuario/{{email}}">
      <ion-icon name="person"></ion-icon>
      Usuario
    </ion-tab-button>
    <ion-tab-button tab="blog">
      <ion-icon name="library"></ion-icon>
      Blog
    </ion-tab-button>
    <ion-tab-button tab="cerrar_sesion">
      <ion-icon name="exit"></ion-icon>
      Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
