<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recordatorio de Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="agregar">
      <ion-button id="botonA" routerLink="/meds/crear"><ion-icon name="create" slot="end"></ion-icon>Agregar Medicamento</ion-button>
      <img src="../../assets/img/meds.jpg" alt="">
    </div>
    

  <ion-card *ngFor="let x of arregloMeds">
    <ion-card-header>
      <ion-card-title>{{x.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Dosis: {{x.dosis}}</p>
      <p>Hora: {{x.hora}}</p>
      <div id="botonBorrar">
        <ion-button id="borrar" (click)="deleteMed(x)" ><ion-icon name="trash"></ion-icon>Eliminar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>