<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="imagen" class="ion-nopadding">
    <img src="../../../../assets/img/meds.jpg" alt="">
  </div>
  <div id="add" class="ion-padding">
    <ion-button size="small" routerLink="/tabs/home/meds/crear"><ion-icon name="add" slot="start"></ion-icon>Nuevo</ion-button>
  </div>

  <div class="ion-nopadding">
    <ion-list>
      <ion-item-sliding>

        <ion-item lines="none" *ngFor="let x of arregloMeds">
          <ion-item>{{x.nombre_medicamento}} {{x.dosis}} {{x.hora | date: "hh:mm"}}</ion-item>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
