ion-icon{
  color: white;
}

ion-button{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  --color: white;
}

#imagen{
  border-radius: 20px;
  margin-bottom: 10px;
}

ion-item{
  --color: white;
  margin-bottom: 20px;

}

ion-item-sliding{
  margin-top: 20px;
  margin-bottom: 20px;
  --background: transparent;
}

ion-card{
  border-radius: 20px;
  --background: transparent;
  --color: white;
}

ion-list{
  --background: transparent;
}

ion-card-content{
  --background: transparent;
}