ion-icon{
  color: white;
}

ion-button{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  --color: white;
}

#imagen{
  border-radius: 20px;
  margin-bottom: 10px;
}

ion-item{
  --color: white;
}
