<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Medicamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenido" class="ion-nopadding">
    <img src="../src/assets/img/meds.jpg" alt="">
    <ion-item lines="none">
      <ion-input label="Medicamento:" labelPlacement="floating" type="text" required [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Dosis:" labelPlacement="floating" type="text" required [(ngModel)]="dosis"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Hora:" labelPlacement="floating" type="time" required [(ngModel)]="hora"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="enviarMedicamento()"><ion-icon name="add" slot="start"></ion-icon>Guardar</ion-button>
  </div>
</ion-content>
