<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{rutina}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text><h2>{{act1}}</h2></ion-text>
      <ion-text><h2>{{act2}}</h2></ion-text>
      <ion-text><h2>{{act3}}</h2></ion-text>
      <ion-text><h2>{{act4}}</h2></ion-text>
      <ion-text><h2>{{act5}}</h2></ion-text>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
