<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Síntomas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="agregar">
      <ion-button id="add" routerLink="/sintomas/crear"><ion-icon name="create" slot="end"></ion-icon>Agregar Síntomas</ion-button>
      <img src="../../assets/img/symptoms.webp" alt="">
    </div>
  
  
  <ion-card *ngFor="let x of arregloSintomas">
    <ion-card-header>
      <ion-card-title>Fecha: {{x.fecha | date: "dd/MM/yyyy"}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción: {{x.descripcion}}</p>
      <div class="borrar">
        <ion-button id="buton" (click)="deleteSintoma(x)" ><ion-icon name="trash"></ion-icon>Eliminar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>