<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TDApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="head" class="ion-padding">
    <img src="../../assets/img/logo2.png" width="100" alt="">
    <h1>Registro de Usuario</h1>
  </div>
  <div id="contenido" class="ion-padding">

    <ion-item lines="none">
      <ion-input label="Nombre" labelPlacement="floating" type="text" required [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Apellidos" labelPlacement="floating" type="text" required [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Email" labelPlacement="floating" type="email" required [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Contraseña" labelPlacement="floating" helperText="Debe contener 8 carácteres entre mayúsculas, minúsculas y números" type="password" pattern="[A-Za-z0-9]{8}" [(ngModel)]="contrasena" required ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-input label="Confirmar Contraseña" labelPlacement="floating" type="password" pattern="[A-Za-z0-9]{8}" [(ngModel)]="confirmarContrasena" required ></ion-input>
    </ion-item>


    <div class="ion-padding">
      <ion-button  expand="block" (click)="guardar()">Registrarse</ion-button>
      <ion-button color="secondary" size="small" routerLink="/login" expand="block" fill="clear">Ya tengo cuenta</ion-button>
    </div>


  </div>
</ion-content>
