<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nueva Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <img src="../../../../../assets/img/todo2.jpeg" alt="">
    <ion-item lines="none">
      <ion-input label="Actividad" labelPlacement="floating" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input label="Fecha" labelPlacement="floating" type="date" required></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding">
    <ion-button expand="block"><ion-icon name="add" slot="start"></ion-icon>Guardar</ion-button>
  </div>
</ion-content>
